<ng-template [ngIfElse]="noDataFound" [ngIf]="machines.length >= 1">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)"
                 class="sidenav"
                 fixedInViewport="true">
      <mat-toolbar>Machines</mat-toolbar>
      <mat-nav-list *ngFor="let machine of machines">
        <a mat-list-item routerLink="/logs/{{machine.name}}">{{machine.name}}</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>ASML Machine Simulator One</span>
      </mat-toolbar>
      <app-machine-dashboard></app-machine-dashboard>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template #noDataFound>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Oops!</h1>
          <h2>
            No Data Found</h2>
          <div class="error-details">
            Try to reset the state of the machines
          </div>
          <div class="error-actions">
            <a (click)="resetStateAllMachines()" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-home">Reset state machines</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



