<div *ngIf="logEntry">
  <mat-card class="list-card" routerLink=".">
    <mat-card-header>
      <mat-card-title>{{logEntry.logDate}} ({{logEntry.code}})</mat-card-title>
      <mat-card-subtitle>{{logEntry.logTime}}</mat-card-subtitle>
      <mat-card-content>{{logEntry.description}}</mat-card-content>
      <button [matMenuTriggerFor]="menu" class="top-right-menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>

  <mat-menu #menu="matMenu" xPosition="before">
    <button class="delete-button" mat-menu-item>Delete</button>
  </mat-menu>
</div>
