/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

.list-card {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

html, body {
  height: 100%;
}
