<mat-card *ngIf="systemCodeEntry" class="list-card" routerLink=".">
  <mat-card-header>
    <mat-card-title>{{systemCodeEntry.code}}</mat-card-title>
    <button [matMenuTriggerFor]="menu" class="top-right-menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-actions *ngFor="let activity of systemCodeEntry.activities">
    <button (click)="runActivity(activity.exec)" class="mat-raised-button">Run {{activity.exec}}</button>
  </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu" xPosition="before">
  <button class="delete-button" mat-menu-item>Delete</button>
</mat-menu>
