<div class="row">
  <div class="col">
    <h1>Machine Logs</h1>
    <app-machine-log></app-machine-log>
  </div>
  <div class="col">
    <h1>System Codes</h1>
    <app-systemcode></app-systemcode>
  </div>
</div>

